{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
  <title>{% block title %} {% endblock %}</title>
     <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="template language" name="keywords">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="{% static 'img/favicon.png' %}" rel="shortcut icon">
    <link href="{% static 'apple-touch-icon.png' %}" rel="apple-touch-icon">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet" type="text/css">
    <link href="{% static 'bower_components/select2/dist/css/select2.min.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/dropzone/dist/dropzone.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/fullcalendar/dist/fullcalendar.min.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/slick-carousel/slick/slick.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;500;700&display=swap" rel="stylesheet">
    <link href="https://kit-pro.fontawesome.com/releases/v5.15.2/css/pro.min.css" rel="stylesheet">
</head>
<body class="menu-position-side menu-side-left full-screen with-content-panel">

<div class="all-wrapper with-side-panel solid-bg-all">
    <div class="layout-w">
        <!--------------------
        INICIO - Menu Mobile
        -------------------->
        <div class="menu-mobile menu-activated-on-click color-scheme-light">
            <div class="mm-logo-buttons-w">
                <a class="mm-logo" href="{% url 'index' %}"><img src="{% static 'img/logoegd.png' %}"><span>EGD Monitoramento</span></a>
                <div class="mm-buttons">
                    <div class="content-panel-open">
                        <div class="os-icon os-icon-grid-circles"></div>
                    </div>
                    <div class="mobile-menu-trigger">
                        <div class="os-icon os-icon-hamburger-menu-1"></div>
                    </div>
                </div>
            </div>
            <div class="menu-and-user">
                <div class="logged-user-w">
                    <div class="avatar-w">
                        <img alt="" src="{% static 'img/jonathan.jpeg' %}">
                    </div>
                    <div class="logged-user-info-w">
                        <div class="logged-user-name">
                            Jonathan Behrens
                        </div>
                        <div class="logged-user-role">
                            Diretor de Engenharia
                        </div>
                    </div>
                </div>
                <!--------------------
                INICIO - Menu Mobile List
                -------------------->
                <ul class="main-menu">
                    <li class="has-sub-menu">
                        <a href="#">
                            <div class="icon-w">
                                <div class="fas fa-solar-panel"></div>
                            </div>
                            <span>Usinas</span></a>
                        <ul class="sub-menu">
                            <li>
                                <a href="#">Dashboard</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!--------------------
                FIM - Menu Mobile List
                -------------------->

            </div>
        </div>
        <!--------------------
        FIM - Menu Mobile
        --------------------><!--------------------
        INICIO - Menu Principal
        -------------------->
        <div class="menu-w color-scheme-light color-style-transparent menu-position-side menu-side-left menu-layout-compact sub-menu-style-over sub-menu-color-bright selected-menu-color-light menu-activated-on-hover menu-has-selected-link">
            <div class="logo-w">
                <a class="logo" href="{% url 'index' %}">
                    <img src="{% static 'img/logoegdfull.png' %}">
                </a>
            </div>
            <div class="logged-user-w avatar-inline">
                <div class="logged-user-i">
                    <div class="avatar-w">
                        <img alt="" src="{% static 'img/jonathan.jpeg' %}">
                    </div>
                    <div class="logged-user-info-w">
                        <div class="logged-user-name">
                            Jonathan Behrens
                        </div>
                        <div class="logged-user-role">
                            Diretor de Engenharia
                        </div>
                    </div>
                    <div class="logged-user-toggler-arrow">
                        <div class="os-icon os-icon-chevron-down"></div>
                    </div>
                    <div class="logged-user-menu color-style-bright">
                        <div class="logged-user-avatar-info">
                            <div class="avatar-w">
                                <img alt="" src="{% static 'img/jonathan.jpeg' %}">
                            </div>
                            <div class="logged-user-info-w">
                                <div class="logged-user-name">
                                    Jonathan Behrens
                                </div>
                                <div class="logged-user-role">
                                    Diretor de Engenharia
                                </div>
                            </div>
                        </div>
                        <div class="bg-icon">
                            <i class="os-icon os-icon-wallet-loaded"></i>
                        </div>
                        <ul>
                            <li>
                                <a href="#"><i
                                            class="os-icon os-icon-mail-01"></i><span>Mensagens</span></a>
                            </li>
                            <li>
                                <a href="#"><i
                                            class="os-icon os-icon-user-male-circle2"></i><span>Detalhes do Perfil</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="os-icon os-icon-log-out"></i><span>Sair</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="menu-actions">
                <!--------------------
                INICIO - Configurações
                -------------------->
                <div class="top-icon top-settings os-dropdown-trigger os-dropdown-position-right">
                    <i class="os-icon os-icon-ui-46"></i>
                    <div class="os-dropdown">
                        <div class="icon-w">
                            <i class="os-icon os-icon-ui-46"></i>
                        </div>
                        <ul>
                            <li>
                                <a href="#"><i
                                            class="os-icon os-icon-user-male-circle2"></i><span>Detalhes de Perfil</span></a>
                            </li>
                            <li>
                                <a href="#"><i
                                            class="os-icon os-icon-log-out"></i><span>Sair</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--------------------
                FIM - Configurações Menu
                --------------------><!--------------------
            INICIO - Mensagens
            -------------------->
                <div class="messages-notifications os-dropdown-trigger os-dropdown-position-right">
                    <i class="os-icon os-icon-zap"></i>
                    <div class="new-messages-count">
                        1
                    </div>
                    <div class="os-dropdown light message-list">
                        <div class="icon-w">
                            <i class="os-icon os-icon-zap"></i>
                        </div>
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fad fa-broadcast-tower"></i>
                                    <div class="message-content">
                                        <h6 class="message-from">
                                            Usina 1
                                        </h6>
                                        <h6 class="message-title">
                                            Offline!
                                        </h6>
                                    </div>
                                </a>
                            </li>


                        </ul>
                    </div>
                </div>
                <!--------------------
                FIM - Mensagens
                -------------------->
            </div>
            <div class="element-search autosuggest-search-activator">
                <input placeholder="Digite algo para procurar..." type="text">
            </div>
            <ul class="main-menu">
                <li class="selected has-sub-menu">
                    <a href="#">
                        <div class="icon-w">
                            <i class="fal fa-solar-panel"></i>
                        </div>
                        <span>Usinas</span></a>
                    <div class="sub-menu-w">
                        <div class="sub-menu-header">
                            Usinas
                        </div>
                        <div class="sub-menu-icon">
                            <i class="fal fa-solar-panel"></i>
                        </div>
                        <div class="sub-menu-i">
                            <ul class="sub-menu">
                                <li>
                                    <a href="#">Dashboard</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
        <!--------------------
        FIM - Menu Principal
        -------------------->
        <div class="content-w">


             <div class="content-i">
                 {% block content %}

                 {% endblock %}
             </div>


        </div>
    </div>
</div>

    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bower_components/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'bower_components/moment/moment.js' %}"></script>
    <script src="{% static 'bower_components/chart.js/dist/Chart.min.js' %}"></script>
    <script src="{% static 'bower_components/select2/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'bower_components/jquery-bar-rating/dist/jquery.barrating.min.js' %}"></script>
    <script src="{% static 'bower_components/ckeditor/ckeditor.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap-validator/dist/validator.min.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'bower_components/ion.rangeSlider/js/ion.rangeSlider.min.js' %}"></script>
    <script src="{% static 'bower_components/dropzone/dist/dropzone.js' %}"></script>
    <script src="{% static 'bower_components/editable-table/mindmup-editabletable.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'bower_components/fullcalendar/dist/fullcalendar.min.js' %}"></script>
    <script src="{% static 'bower_components/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js' %}"></script>
    <script src="{% static 'bower_components/tether/dist/js/tether.min.js' %}"></script>
    <script src="{% static 'bower_components/slick-carousel/slick/slick.min.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap/js/dist/util.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap/js/dist/alert.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap/js/dist/button.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap/js/dist/carousel.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap/js/dist/collapse.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap/js/dist/dropdown.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap/js/dist/modal.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap/js/dist/tab.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap/js/dist/tooltip.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap/js/dist/popover.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

        {% block js %}

        {% endblock %}
</body>
</html>