{% extends "base_template.html" %}
{% load static %}
{% block title %}
Detalhamento da Planta
{% endblock title %}

{% block content %}

<div class="content-box">
    <div class="element-content">
        <div class="row">
            <div class="col-sm-5 col-lg-6 ">
                <div id="infocliente" class="element-box el-tablo personalbg  align-items-start">
                    <div class="icon-w">
                        <i class="fas fa-user-tag"></i>
                    </div>

                    <div class="label">
                        <a href="#">
                            <i class="fas fa-solar-panel" data-toggle="tooltip"
                               data-placement="top"
                               data-original-title="Nome da Planta"></i> {{planta.nome_planta}}
                        </a>
                    </div>
                    <div class="label" style="padding-left: 3px">
                        <a href="#">
                            <i class="fas fa-user" data-toggle="tooltip"
                               data-placement="top"
                               data-original-title="Proprietário" style="padding-right: 8px"></i> <span>{{planta.nome_planta}}</span>
                        </a>
                    </div>
                    <div id="detailPlantStatus" class="label">
                        <a href="">
                            {% ifequal planta.monitoramento 1 %}<i class="fas fa-signal"></i>Online{% else %}<i class="fas fa-signal-slash"></i>Offline{% endifequal %}
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-2">
                <div id="geracao" href="#" class="element-box el-tablo personalbg  align-items-start">
                    <div class="icon-w">
                        <i class="fas fa-battery-bolt"></i>
                    </div>
                    <div class="label">
                        Geração Hoje
                    </div>
                    <div class="value">
                                {{planta.geracaoDiariaPlanta.last.geracao}}
                        <span>(kWh)</span>
                    </div>
                </div>
            </div>


            <div class="col-lg-2">
                <div id="receita" href="#" class="element-box el-tablo personalbg  align-items-start">
                    <div class="icon-w">
                        <i class="fas fa-lightbulb-dollar"></i>
                    </div>
                    <div class="label">
                        Economia Hoje
                    </div>
                    <div class="value">
                        <span>(R$)</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div id="status" href="#" class="element-box el-tablo personalbg  align-items-start">
                    <div class="icon-w">
                        <i class="fas fa-sun"></i>
                    </div>
                    <div class="label">
                        Trabalhando
                    </div>
                    <div class="value">
                        {{planta.geracaoPlanta.last.geracao}}
                        <span>(kW)</span>
                    </div>

                </div>
            </div>
        </div>
        <div id="infoInversor" class="element-wrapper">
            <h5 class="element-header">Informações do inversor</h5>


            <div id="carouselInv" class="carousel slide" data-ride="carousel">

                <ol class="carousel-indicators">
                    {% for inversor in planta.inversores.all %}
                    <li data-target="#carouselInv" data-slide-to="{{forloop.counter0}}"
                        class="{% if forloop.first %} active {% endif %}"></li>
                    {% endfor %}
                </ol>

                <div class="carousel-inner">

                    {% for inversor in planta.inversores.all %}
                    <div class="carousel-item {% if forloop.first %} active {% endif %}">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div id="{{inversor.id_inversor}}" class="element-box el-tablo personalbg">
                                    <h2>Inversor {{forloop.counter}}</h2>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-6" style="top: 20px">

                                            <ul class="left-list">
                                                <li>
                                                    <div class="label">
                                                        Modelo: <span>{{inversor.modelo}}</span><em></em>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="label">
                                                        Capacidade: <span>{{inversor.capacidade}} (kW)</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="label">
                                                        Conectado: <span>{% ifequal inversor.status 1 %}Conectado <i
                                                            class="fas fa-signal"></i>{% else %}Desconectado <i
                                                            class="fas fa-signal-slash"></i>{% endifequal %}</span>
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class="label">
                                                        Tensão saída:  <span>{% for fase in inversor.fases.all|slice:inversor.numFases %}{{fase.tensao}} {% endfor %} (V)</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="label">
                                                        Corrente CA: <span>{% for fase in inversor.fases.all|slice:inversor.numFases %}{{fase.corrente}} {% endfor %} (A)</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="label">
                                                        Frequência CA: <span> - (Hz)</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="label">
                                                        Temperatura Interna: <span> - Cº</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div id="centroInversor" class="col-lg-4 col-sm-8 ">

                                            <div class="circulo">

                                                <div style="text-align: center">
                                                    <div class="label">
                                                        Geração
                                                    </div>
                                                    <div class="value">

                                                    </div>
                                                    <div class="value">
                                                        {{inversor.geracaoInvDiaria.last.geracao}}<br>
                                                        <span>(kWh)</span>
                                                    </div>
                                                </div>
                                            </div>
                                     </div>
                                        <div id="secCol" class="col-lg-4 col-sm-6" style="top: 20px">
                                            <ul>
                                                    {% for mppt in inversor.mppts.all|slice:inversor.numMppts %}
                                                    <li>
                                                        <div class="label">

                                                           Tensão/Corrente MPPT {{forloop.counter}}: <span>{{mppt.tensao}}/{{mppt.corrente}}(V/A)</span>
                                                        </div>
                                                    </li>
                                                    {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <a class="carousel-control-prev" href="#carouselInv" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselInv" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>

            </div>
        </div>


    </div>
</div>


<script>

</script>
{% endblock content %}
