{% extends "base_template.html" %}
{% load static %}
{% block title %}
Home
{% endblock title %}


{% block content %}

<div class="content-box">
    <div class="row">
        <div class="col-sm-12">
            <div class="element-wrapper">
                <div class="element-actions">
                    <form class="form-inline justify-content-sm-end">
                        <select class="form-control form-control-sm rounded">
                            <option value="Pending">
                                Hoje
                            </option>
                            <option value="Active">
                                Última Semana
                            </option>
                            <option value="Cancelled">
                                Últimos 30 Dias
                            </option>
                        </select>
                    </form>
                </div>
                <h5 class="element-header">
                    Visão Geral de Monitoramentos
                </h5>
                <div id="visao_geral" class="element-content">
                    <div class="row">
                        <div class="col-sm-2 col-lg-3">
                            <a class="element-box el-tablo" href="#">
                                <div class="label">
                                    Online
                                </div>
                                <div class="value">
                                  <span><i class="fas fa-signal"></i> </span>{{plantasOnline}} / {{totalPlantas}} <span><i class="fas fa-signal-slash"></i></span>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-5 col-lg-3">
                            <a class="element-box el-tablo" href="#">
                                <div class="label">
                                    Geração de Energia
                                </div>
                                <div class="value">
                                    800(kWh)
                                </div>
                                <div class="trending trending-up-basic">
                                    <span>12%</span><i class="fas fa-arrow-alt-up"></i>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-5 col-lg-3">
                            <a class="element-box el-tablo" href="#">
                                <div class="label">
                                    Renda
                                </div>
                                <div class="value">
                                    R$ 1000,00
                                </div>

                            </a>
                        </div>
                        <div class="col-sm-5 col-lg-3">
                            <a class="element-box el-tablo" href="#">
                                <div class="label">
                                    Geração Total
                                </div>
                                <div class="value">
                                    500.00MWh
                                </div>
                            </a>
                        </div>
                        <div class="d-none d-xxxl-block col-lg-3">
                            <a class="element-box el-tablo" href="#">
                                <div class="label">
                                    Renda Total
                                </div>
                                <div class="value">
                                    R$ 180.000,00
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="element-wrapper">
        <h5 class="element-header">
            Clientes
        </h5>

        <div class="element-box">

                <!--------------------
                INICIO - Tabela Clientes
                -------------------->
                <div class="col-sm-12">
                    <div class="table-responsive">
                          <table id="tbPlantas" width="100%"  class="table table-striped dataTable table-hover border-">
                            <thead>
                            <tr>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Cliente
                                </th>
                                <th>
                                    Localização
                                </th>
                                <th>
                                    kWh HOJE
                                </th>
                                <th>
                                    Instantânea
                                </th>
                                <th>
                                    Falhas
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {%for planta in plantas %}
                                <tr data-href="{% url 'detalhamento' planta.id_planta_solar %}" class="clickable">
                                    <td scope="row">{% ifequal planta.monitoramento 1 %}<i class="fas fa-signal"></i>{% else %}<i class="fas fa-signal-slash"></i>{% endifequal %}</td>
                                    <td scope="row"><a href="#">{{planta.nome_planta}}</a></td>
                                    <td scope="row">{{planta.localizacao}}</td>
                                    <td scope="row">{{planta.geracaoDiariaPlanta.last.geracao}}</td>
                                    <td scope="row">{{planta.geracaoPlanta.last.geracao}}</td>
                                    <td scope="row"></td>
                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--------------------
                FIM - Tabela Clientes
                -------------------->
        </div>
    </div>

</div>
{% block js %}
<script>
    $(document).ready( function () {
    $(`#tbPlantas`).DataTable({
        "language":{
            "url":"http:////cdn.datatables.net/plug-ins/1.11.3/i18n/pt_br.json"
        }
    });
} );

    $('tr[data-href]').on("click", function() {
    document.location = $(this).data('href');
});
</script>
{% endblock %}


{% endblock %}